<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.memo.post.mapper.PostMapper">
	
	<!-- TestController -->
	<select id="selectPostList" resultType="map">
	
		SELECT
			*
		FROM
			`post`
	
	</select>
	
	
	<!-- 게시글 리스트 -->
	<select id="selectPostListByUserId" parameterType="int" resultType="com.memo.post.domain.Post">
	
		SELECT
			`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		
		FROM
			`post`
		
		WHERE
			`userId` = #{userId}
			
			<!-- paging -->
			<if test="direction == 'next'">
			<![CDATA[
			AND `id` < #{standardId}	
			]]>
			ORDER BY `id` DESC
			</if>
			
			<if test="direction == 'prev'">
			<![CDATA[
			AND `id` > #{standardId}
			]]>
			ORDER BY `id` ASC
			</if>
			
			<if test="direction == null">
			ORDER BY `id` DESC
			</if>
		
		LIMIT ${limit}	 <!-- #{}을 쓰면 db에서 따옴표를 쓰는 걸로 인식함, LIMIT은 따옴표 있으면 안됨, ${}은 숫자로 인식 -->
	
	</select>
	
	
	<!-- paging - 이전 페이지의 마지막인가? -->
	<select id="selectPostIdByUserIdAndSort" parameterType="map" resultType="int">
	
		SELECT
			`id`
		
		FROM
			`post`
		
		WHERE
			`userId` = #{userId}
		
		ORDER BY `id` ${sort}
		
		LIMIT 1
		
	</select>
	
	
	
	<!-- 글쓰기 API -->
	<insert id="insertPost" parameterType="map">
	
		INSERT INTO `post`
		(
			`userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		
		VALUES
		(
			#{userId}
			, #{subject}
			, #{content}
			, #{imagePath}
			, NOW()
			, NOW()
		)
		
	</insert>
	
	
	
	<!-- 글 상세 화면 -->
	<select id="selectPostByPostIdAndUserId" parameterType="map" resultType="com.memo.post.domain.Post">
	
		SELECT
			`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		
		FROM
			`post`
		
		WHERE
			`userId` = #{userId}
			AND `id` = #{postId}	<!-- post 테이블의 id니까 `id`만 작성해야함 -->
	
	</select>
	
	
	
	<!-- 글 수정 API -->
	<update id="updatePostByPostIdUserId" parameterType="map">
	
		UPDATE `post`
		
		SET
			`subject` = #{subject}
			, `content` = #{content}
			
			<!-- imagePath가 있을 때에만 수정 -->
			<if test="\imagePath != null">
			, `imagePath` = #{imagePath}
			</if>
			
			, `updatedAt` = NOW()
		
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	
	</update>
	
	
	
	<!-- 글 삭제 API -->
	<delete id="deletePostByPostIdUserId" parameterType="map">
	
		DELETE
		
		FROM
			`post`
		
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	
	</delete>
	
	
</mapper>